body {
  background: #EEE;
  color: #555;
}

.container {
  margin: auto;
  max-width: 80%;
  width: 500px;
}

.header {
  text-align: center;
}

.light {
  color: #666;
  text-decoration: italic;
}

.todos {
  margin-bottom: 10px;
  list-style: none;
  width: 100%;
}

.todo {
  border: 1px solid #555;
  border-top: none;
  padding: 10px;
}

.todo-input {
  background: #DDD;
  border: 1px solid #555;
  padding: 10px;
}

.todo-editing {
  background: orange;
}

.todo-input form, .todo-editing form {
  display: inline;
}

.todo-input-text {
  border: none;
  width: 80%;
  background: inherit;
  outline: none;
  margin: 0;
  padding: 0;
}

.clickable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: inline-block;
  width: 5%;
  font-size: 1.25em;
  vertical-align: middle;
  cursor: pointer;
}

.remove,
.edit {
  transition: opacity 250ms;
  opacity: 0.75;
  text-align: right;
  float: right;
  visibility: hidden;
}

.remove:hover,
.edit:hover {
  opacity: 1;
}

.todo:hover .remove,
.todo:hover .edit {
  visibility: visible;
}

.done {
  text-decoration: line-through;
  color: #999;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.info {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.filters a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 5px 8px;
  margin: 0 3px;
  border-radius: 5px;
}

.filters a.selected,
.filters a:hover {
  margin: 0 2px;
  border: 1px solid rgb(202, 45, 27);
}
